
/* ------ MEDIA QUERIES ------- */


@media only screen and (max-width: 1258px) {
	.flex-container-one {
		margin-right: 0;
		margin-left: 20px;
	}
	.flex-container-one ul li#jack-content p {
		padding-left: 40px;
		padding-right: 40px;
	}
	.flex-container-one ul {
		font-size: 14px !important;
		line-height: 20px;
	}
	.flex-container-one ul p a#blog {
		font-size: 14px !important;
		line-height: 20px !important;
	}
	.flex-container-one ul li#jack-content h3 span {
		font-size: 18px !important;
	}
}

@media only screen and (max-width: 1024px) {
	.hero {
		min-height: 100vh !important;
	}
	.hero h1 {
		padding-top: 90px !important;
	}
	.arrowdn {
		margin: 0 0 150px 0 !important;
	}
	.flex-container-one {
		margin-right: 0px;
		margin-left: 0px;
	}
	.flex-container-one ul li#jack {
		margin-right: 40px;
		margin-left: 40px;
	}
}

@media only screen and (max-width: 950px) {
	.grid-container-two {
		height: 80vh !important;
	}
}

@media only screen and (max-width: 900px) {
	.hero {
		min-height: 80vh !important;
	}
	.hero h1 {
		padding-top: 70px !important;
		font-size: 60px !important;
	}
	.arrowdn {
		margin: 0 0 120px 0 !important;
		width: 25px !important;
		height: 25px !important;
	}
	.logo {
		width: 30vh !important;
		height: 10vh !important;
	}
	.heading {
		font-size: 18px !important;
		line-height: 26px !important;
	}
	#random {
		font-size: 22px !important;
		padding: 15px 50px 15px 50px !important;
	}
	.flex-container-one ul li#jack-content p {
		padding-left: 30px;
		padding-right: 30px;
	}
	.flex-container-one ul {
		font-size: 12px !important;
		line-height: 18px;
	}
	.flex-container-one ul p a#blog {
		font-size: 12px !important;
		line-height: 18px !important;
	}
	.flex-container-one ul li#jack-content h3 span {
		font-size: 16px !important;
	}
	.footer {
		margin-top: 0;
	}
}

@media only screen and (max-width: 768px) {
	.hero {
		min-height: 70vh !important;
	}
	.hero h1 {
		padding-top: 70px !important;
		font-size: 50px !important;
	}
	.arrowdn {
		margin: 0 0 100px 0 !important;
	}
	.grid-container-two {
		height: 60vh !important;
	}
	.flex-container-one {
		min-height: 130vh;
	}
	.flex-container-one ul {
		display: inline-block !important;
		padding-left: 0;
		font-size: 14px !important;
		line-height: 20px;
	}
	.flex-container-one ul p a#blog {
		font-size: 14px !important;
		line-height: 20px !important;
	}
	.flex-container-one ul li#jack-content p {
		padding-left: 50px;
		padding-right: 50px;
	}
	.flex-container-one ul li#jack-content h3 span {
		font-size: 18px !important;
	}
	.flex-container-one ul li#jack-content {
		width: 90%;
		display: inline-block;
	}
	.flex-container-one ul li#jack img {
		max-width: 350px;
		margin-top: 50px;
	}
	.footer {
		margin-top: 0;
	}
	.policy-content {
		height: 70vh !important;
	}
}

@media only screen and (max-width: 599px) {
	.hero {
		min-height: 50vh !important;
	}
	.hero h1 {
		padding-top: 50px !important;
		font-size: 35px !important;
	}
	.hero ul {
		font-size: 20px !important;
		margin-right: 20px !important;
		margin-top: 15px !important;
	}
	.hero ul a i {
		margin: 0 3px 0 3px !important;
	}
	.arrowdn {
		margin: 0 0 75px 0 !important;
		width: 20px !important;
		height: 20px !important;
	}
	.logo {
		width: 22vh !important;
		height: 8vh !important;
	}
	.section1 {
		display: block !important;
	}
	.heading {
		font-size: 16px !important;
		line-height: 24px !important;
	}
	.randombtn {
		display: block !important;
		width: 159px !important;
		max-width: 100% !important;
		margin: auto !important;
	}
	#random {
		font-size: 20px !important;
		margin: 0 0 30px 0 !important;
		padding: 15px 40px 15px 40px !important;
	}
	.grid-container-one {
		display: flex !important;
		height: 280vh !important;
		flex-flow: row wrap !important;
  		justify-content: center !important;
  		align-items: center !important;
	}
	.grid-container-one .blocks {
		width: 300px !important;
		height: 200px !important;
		margin-bottom: 30px !important;
	}
	.grid-container-two {
		display: inline-block !important;
		margin-top: 20px !important;
	}
	footer ul {
		font-size: 18px !important;
		padding-left: 20px !important;
	}
	.policy-content {
		font-size: 14px !important;
		height: 70vh !important;
	}
}

